/* You can add global styles to this file, and also import other style files */
:root {
    --bg-demo-size--6: 128px;
    --bg-demo-size--5: 64px;
    --bg-demo-size--4: 48px;
    --bg-demo-size--7: 50px;
    --bg-demo-size--3: 24px;
    --bg-demo-size--2: 16px;
    --bg-demo-size--1: 8px;
    --bg-demo-color--0: #fff;
    --bg-demo-color--1: #000;
    --bg-demo-color--2: #333;
    --bg-demo-color--3: #b8b8b8;
    --bg-demo-color--4: #e0e0e0;
    --bg-demo-color--5: #a9a9a9;
    --bg-demo-color--6: #eaeaeaa3;
    --bg-demo-color--7: #f2f2f2;
    --bg-demo-color--gradient--1: #bd34fe;
    --bg-demo-color--gradient--2: #4172ff;
    --bg-demo-color--gradient--3: #4f38cf;
    --bg-demo-linear--gradient: linear-gradient(
        120deg,
        var(--bg-demo-color--gradient--1) 30%,
        var(--bg-demo-color--gradient--2)
    );
    --bg-demo-linear--gradient--2: linear-gradient(
        -45deg,
        var(--bg-demo-color--gradient--1) 50%,
        var(--bg-demo-color--gradient--2) 50%
    );
    --bg-demo-linear--gradient--3: linear-gradient(
        32deg,
        var(--bg-demo-color--gradient--1) 1%,
        var(--bg-demo-color--gradient--2)
    );
    --bg-demo-border: 1px solid var(--bg-demo-color--3);
    --bg-demo-border--1: 1px solid var(--bg-demo-color--4);
    --bg-demo-transition: 0.2s;
}
:root {
  .minimal-theme {
    --bg-background-color--1: var(--bg-demo-color--7);
    --bg-background-color--2: var(--bg-demo-color--3);
    --bg-text-color--1: var(--bg-demo-color--1);
    --bg-border--1: 5px solid var(--bg-demo-color--0);
  }
  .dark-theme {
    --bg-background-color--1: #202127;
    --bg-background-color--2: #777;
    --bg-text-color--1: #e0e0e0;
    --bg-border--1: 1px solid #333;
  }
}

html {
    -webkit-text-size-adjust: 100%;
    font-family: 'Chinese Quotes', 'Inter var', 'Inter', ui-sans-serif,
        system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Helvetica, Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    tab-size: 4;
    scroll-behavior: smooth;

    &[data-theme='dark'] {
        --bg-demo-color--0: #1b1b1f;
        --bg-demo-color--1: #e0e0e0;
        --bg-demo-color--2: rgba(255, 255, 245, 0.86);
        --bg-demo-color--3: #777;
        --bg-demo-color--4: #333;
        --bg-demo-color--5: rgba(235, 235, 245, 0.6);
        --bg-demo-color--6: #202127;
        --bg-demo-border: 1px solid var(--bg-demo-color--3);
        --bg-demo-border--1: 1px solid var(--bg-demo-color--4);

        .header .left img {
            filter: invert(1);
        }

        .minimal-theme {
            --bg-background-color--1: var(--bg-demo-color--6);
            --bg-background-color--2: var(--bg-demo-color--3);
            --bg-text-color--1: var(--bg-demo-color--1);
            --bg-border--1: 5px solid var(--bg-demo-color--0);
        }
    }
}

body {
    font-family: Roboto;
    line-height: inherit;
    font-size: var(--bg-demo-size--2);
    font-weight: 300;
    line-height: 1.5;
    background-color: var(--bg-demo-color--0);
    color: var(--bg-demo-color--1);
    margin: var(--bg-demo-size-5);
}
a {
    color: var(--bg-demo-color--1);
    text-decoration: none;
    &:hover {
        color: var(--bg-demo-color--gradient--2);
    }
}

h1 {
    line-height: var(--bg-demo-size--5);
    font-size: var(--bg-demo-size--7);
    letter-spacing: -0.4px;
    font-weight: 700;
    margin: 0;
}
h2 {
    font-size: var(--bg-demo-size--7);
    line-height: var(--bg-demo-size--5);
    letter-spacing: -0.4px;
    font-weight: 700;
    margin: 0;
    color: var(--bg-demo-color--2);
}
h3 {
    padding-top: var(--bg-demo-size--3);
    color: var(--bg-demo-color--5);
    font-size: var(--bg-demo-size--3);
    font-weight: 300;
    line-height: var(--bg-demo-size--3);
    margin: 0;
}

.row {
    display: flex;

    &.center {
        justify-content: center;
    }
    &.end {
        justify-content: flex-end;
    }
    &.start {
        justify-content: flex-start;
    }
    &.between {
        justify-content: space-between;
    }
    &.around {
        justify-content: space-around;
    }
    &.evenly {
        justify-content: space-evenly;
    }
    &.top {
        align-items: flex-start;
    }
    &.middle {
        align-items: center;
    }
    &.bottom {
        align-items: flex-end;
    }
}

.column {
    display: flex;
    flex-direction: column;

    &.center {
        justify-content: center;
    }
    &.end {
        justify-content: flex-end;
    }
    &.start {
        justify-content: flex-start;
    }
    &.between {
        justify-content: space-between;
    }
    &.around {
        justify-content: space-around;
    }
    &.evenly {
        justify-content: space-evenly;
    }
    &.top {
        align-items: flex-start;
    }
    &.middle {
        align-items: center;
    }
    &.bottom {
        align-items: flex-end;
    }
}
