.minimal {
    --bg-background-color--1: var(--bg-demo-color--7);
    --bg-background-color--2: var(--bg-demo-color--3);
    --bg-text-color--1: var(--bg-demo-color--1);
    --bg-border--1: 5px solid var(--bg-demo-color--0);
}
.dark {
    --bg-background-color--1: #202127;
    --bg-background-color--2: #777;
    --bg-text-color--1: #e0e0e0;
    --bg-border--1: 1px solid #333;
}
.container {
    --header-height: 50px;
    margin: 0 auto;
    position: relative;
    gap: var(--bg-demo-size--3);
    max-width: 1250px;
    margin-top: 0;
    padding-top: var(--bg-demo-size--6);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 100;
    box-sizing: border-box;
    padding: 0 var(--bg-demo-size--6);
    transition: background-color 0.3s ease-in-out;

    &.scrolled {
        background-color: var(--bg-demo-color--0);
        opacity: 0.99;

        .left {
            span {
                opacity: 1;
            }
        }
    }

    svg {
        &:hover {
            color: var(--bg-demo-color--gradient--1);
        }
    }
    .left {
        svg {
            font-size: var(--bg-demo-size--3);
            cursor: pointer;
            margin-right: var(--bg-demo-size--2);
        }
        img {
            cursor: pointer;
            opacity: 0.9;
            display: flex;
            align-self: center;
        }
        span {
            font-size: var(--bg-demo-size--2);
            font-weight: 500;
            font-style: normal;
            color: transparent;
            background-image: var(--bg-demo-linear--gradient);
            background-clip: text;
            text-transform: uppercase;
            margin-left: var(--bg-demo-size--2);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }
    }

    span {
        font-size: 12px;
        font-weight: 100;
        font-style: italic;
    }
    .right {
        gap: var(--bg-demo-size--2);
    }
    .avatar {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        overflow: hidden;
    }
    svg {
        font-size: var(--bg-demo-size--2);
    }

    .theme-switch {
        margin-right: var(--bg-demo-size--2);
        gap: var(--bg-demo-size--1);

        svg {
            cursor: pointer;
            opacity: 0.2;

            &:hover {
                opacity: 1;
            }
            &.active {
                opacity: 1;
            }
        }
    }
}

h1 {
    background-image: var(--bg-demo-linear--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

pre[class*='language-'] {
    position: relative;
    padding: 9px 1em;

    .copy {
        position: absolute;
        top: 12px;
        right: 15px;
        font-size: var(--bg-demo-size--2);
        cursor: pointer;
        color: var(--bg-demo-color--3);
        &:hover {
            color: var(--bg-demo-color--gradient--1);
        }
    }
}
.demo {
    margin: var(--bg-demo-size--6) 0;
    position: relative;
    width: 100%;
}

.features {
    margin-top: var(--bg-demo-size--5);
    padding-top: var(--bg-demo-size--5);

    .feature {
        overflow: hidden;
        width: 27%;
        min-height: 230px;
        white-space: wrap;
        background: var(--bg-demo-color--6);
        padding: var(--bg-demo-size--3);
        border-radius: var(--bg-demo-size--2);

        svg {
            font-size: var(--bg-demo-size--4);
        }

        h2 {
            width: auto;
            font-weight: bold;
        }
    }
}
section {
    width: 100%;
    margin-bottom: var(--bg-demo-size--4);
    padding-top: var(--header-height);

    &.welcome {
        gap: var(--bg-demo-size--3);
        margin-bottom: 0;
        padding-top: 0;

        .logo-container {
            position: relative;
            transform: translateX(-75%);

            .image-bg {
                --size: 350px;
                width: var(--size);
                height: var(--size);
                position: absolute;
                top: 50%;
                left: 50%;
                border-radius: 50%;
                background-image: var(--bg-demo-linear--gradient--2);
                filter: blur(72px);
                transform: translate(-50%, -50%);
            }
        }
        img {
            --size: 200px;
            width: var(--size);
            height: var(--size);
            opacity: 0.9;
            filter: drop-shadow(0 0 10px #d3ccd7) invert(1);
        }
        .misc {
            gap: var(--bg-demo-size--2);
            padding-top: var(--bg-demo-size--3);
        }
    }

    .demo-container {
        box-sizing: border-box;
        height: 500px;
        overflow: hidden;
        border-radius: var(--bg-demo-size--2);

        &.default {
            border-radius: 0;
        }

        &.outlined {
            border: var(--bg-demo-border);
        }
    }

    h1 {
        margin-left: 0;
        background-color: var(--bg-demo-linear--gradient--3);
    }
}
